/* Style the accent button */
.bu-ac {
    transition: box-shadow 0.4s, transform 0.4s;
}

/* Elevate the accent button on hover/focus */
.bu-ac:hover,
.bu-ac:focus {
    /* X-axis, Y-axis (needs to match translateY!), blur, color */
    box-shadow: 0em 0.15em 0.1em var(--neutral-color);
    /* Elevate button, must match Y-axis shadow above! */
    transform: translateY(-0.15em);
}