/* Defines pulsating animation */
@keyframes animate-pulse {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}