/* Note: Color scheme variables are set on components/base/CustomHead.tsx script tag */

/* Scrollbar styling */
body::-webkit-scrollbar {
    width: 0.8em;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
    outline: 2px solid var(--accent-color);
    outline-offset: -0.1rem;
    border-radius: 0.3rem;
}

/* Expand page to use full screen and set page default font and color scheme */
html {
    font-family: 'Fragment Mono', monospace;
    background-color: var(--base-color);
    color: var(--neutral-color);
}

/* Positioning for the main frame, border color, transition for theme switch */
main {
    --main-padding: 1rem;
    --main-margin: 1.5rem;
    position: absolute;
    width: calc(100dvw - 2 * var(--main-margin));
    min-height: calc(100dvh - 2 * var(--main-margin));
    padding: var(--main-padding);
    margin: var(--main-margin);
    border: 2px solid var(--accent-color);
    border-radius: 1.5rem;
    transition: border 0.7s ease-in-out 0.3s;
}

/* Position the theme switcher on the bottom left corner */
aside {
    width: 5em;
    height: min-content;
    position: fixed;
    bottom: 3.2em;
    rotate: -90deg;
    translate: -75%;
    font-size: 1.2rem;
}

/* Define theme SVG size, push text away */
aside svg {
    width: 1em;
    margin-right: 0.2em;
}

/* Organize theme button horizontally and align vertically */
.theme-switcher {
    display: flex;
    text-justify: center;
    animation: fadeThemeSwitcherIn 0.3s;
}

/* Animate the Theme Switcher to fade in gracefully instead of popping in */
@keyframes fadeThemeSwitcherIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Positions the footer on the bottom right side of the page, below the frame */
.page-footer {
    position: absolute;
    display: inline-flex;
    align-items: center;
    width: max-content;
    bottom: -1.5rem;
    right: 0;
    font-size: 0.875rem;
    /* 14px */
    line-height: 1.25rem;
    white-space: nowrap;
}

/* Style the images on the footer */
footer img {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    height: 18px;
    width: 18px;
}