:root {
	/* TW Slate 900 background color */
	--base-color: rgb(15 23 42);
	/* TW Slate 300 text color */
	--neutral-color: rgb(203 213 225);
	/* TW Purple 700 accent */
	--accent-color: rgb(120 50 200);
	/* Color for the radio buttons */
	accent-color: var(--accent-color);
	user-select: none;
	/* Transition effect to make the switch to
        Light theme on load less jarring */
	transition: color 0.9s ease-in-out 0.1s, background-color 0.8s ease-in-out 0.2s;
}

/* Expand page to use full screen and set page default font and color scheme */
html {
	min-height: 100vh;
	font-family: 'Fragment Mono', monospace;
	background-color: var(--base-color);
	color: var(--neutral-color);
}

/* Positioning for the main frame, border color, transition for theme switch */
main {
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	bottom: 1.5rem;
	right: 1.5rem;
	padding: 1rem;
	border: 2px solid var(--accent-color);
	transition: border 0.7s ease-in-out 0.3s;
}

/* Radio buttons, colored by accent color on :root */
input[type='checkbox'] {
	appearance: none;
	margin: 0;
	width: 1rem;
	height: 1rem;
}

/* Positions the footer on the bottom right side of the page, below the frame */
footer {
	position: absolute;
	display: inline-flex;
	align-items: center;
	width: max-content;
	bottom: 0;
	right: 1.5rem; /* 24px */
	font-size: 0.875rem; /* 14px */
	line-height: 1.25rem;
	white-space: nowrap;
}

/* Style the images on the footer */
footer img {
	margin-left: 0.4rem;
	margin-right: 0.4rem;
	height: 18px;
	width: 18px;
}
