/* Size the Blog Titles */
.blog-title {
    font-size: 2.5rem;
    font-family: 'Alfa Slab One', cursive;
}

/* Decrease size for post creation timestamps and add bottom margin */
.post-date {
    font-size: 0.8rem;
    margin-bottom: 0.5em;
}

/* Size blog's small images to a square */
.small-image {
    margin: 1em auto;
    height: 10em;
    width: 10em;
    object-fit: cover;
}

/* Size blog's large images to span the entire screen */
.large-image {
    margin: 1em auto;
    object-fit: cover;
}