/* Define article as flexible centered column */
.center {
    /* Vertical margin to the article's heading */
    --h1-margin: 1rem;
    /* Viewport height - (2 * base marginY) - (2 * base paddingY) - (2 * article h1 marginY) - (2 * base borderWidth) */
    min-height: calc(100dvh - 2 * var(--main-margin) - 2 * var(--main-padding) - 2 * var(--h1-margin) - 4px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style article's heading */
h1 {
    margin: var(--h1-margin) 0;
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1;
}

/* Style section as flex colunn */
section {
    display: flex;
    flex-direction: column;
}

/* Justify blog post body */
p {
    align-self: self-start;
    text-align: justify;
}

/* Add some space around the blog post paragraphs */
p.space {
    margin: 0.5em 0;
}

/* Size a subtopic header */
.subtopic {
    font-size: 2rem;
    font-family: 'Alfa Slab One', cursive;
}

/* Spacer to push the blog footer to the end of the page,
    if the page doesn't have enough content to max out
    the height by itself */
.spacer {
    flex-grow: 1;
}

/* Reduce heading font size on smaller resolutions */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
}

/* Center class doesn't expand horizontally forever on larger resolutions */
@media (min-width: 1024px) {
    .center {
        width: 900px;
        margin: 0 auto;
    }
}