:root {
	--base-color: rgb(25 25 25);
	--neutral-color: rgb(220 220 220);
	--accent-color: rgb(120, 50, 200);
	/* Color for the radio buttons */
	accent-color: var(--accent-color);
	user-select: none;
}

/* Expand page to use full screen and set page default font and color scheme */
html {
	height: 100vh;
	font-family: 'Fragment Mono', monospace;
	background-color: var(--base-color);
	color: var(--neutral-color);
}

/* Radio buttons, colored by accent color on :root */
input[type='checkbox'] {
	appearance: none;
	margin: 0;
	width: 1rem;
	height: 1rem;
}

/* Creates the gradient underline below my Persona name */
.gradient-underline {
	position: relative;
	text-decoration: none;
}

/* Colors the gradient underline */
.gradient-underline:before {
	content: '';
	position: absolute;
	top: 100%;
	width: 100%;
	left: 0;
	height: 3px;
	background: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
}

/* Animates the emoji that displays when hovering over my Persona name,
    as if it was greeting the user */
.wave-emoji {
	display: none;
	animation: wave 1s linear infinite alternate;
}

/* Makes the wave emoji visible when hovering my Persona name */
.gradient-underline:hover + .wave-emoji {
	display: inline-block;
}

/* Animates the wave emoji to wave */
@keyframes wave {
	0% {
		transform: translate(15%, -15%) rotate(60deg);
	}
	100% {
		transform: translate(0%, -5%) rotate(0deg);
	}
}

/* Creates an initial dotted underline below the link to Trophy Place */
.pretty-link {
	text-underline-offset: 0.2em;
	text-decoration: underline dotted var(--neutral-color) 0.1em;
	transition: text-underline-offset 600ms, text-decoration 600ms, color 600ms;
}

/* Animates the link to Trophy Place on hover to change color,
    underline style and underline offset */
.pretty-link:hover {
	text-decoration: underline solid var(--accent-color) 0.1em;
	color: var(--accent-color);
	text-underline-offset: 0.3em;
}

/* Creates a blinking caret after the website name */
.blinking-caret {
	color: var(--neutral-color);
	fill: currentColor;
	position: relative;
	height: 1.2em;
	left: 0.1em;
	top: -0.1em;
	animation: 1.5s blink step-end infinite;
}

/* Animates the blinking caret */
@keyframes blink {
	from,
	to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

/* Positions the footer on the bottom right side of the page, below the frame */
footer {
	position: absolute;
	display: inline-flex;
	align-items: center;
	width: max-content;
	bottom: 1.1rem; /* 20px */
	right: 2.5rem; /* 40px */
	font-size: 0.875rem; /* 14px */
	line-height: 1.25rem; /* 20px */
	white-space: nowrap;
}

/* Style the images on the footer */
footer img {
	margin-left: 0.4rem;
	margin-right: 0.4rem;
	height: 18px;
	width: 18px;
}
