:root {
	--base-color: rgb(25 25 25);
	--neutral-color: rgb(220 220 220);
	--accent-color: rgb(125, 125, 255);
	accent-color: var(--base-color);
}

html {
	height: 100vh;
	font-family: 'Fragment Mono', monospace;
	background-color: var(--base-color);
	color: var(--neutral-color);
}

input[type='checkbox'] {
	appearance: none;
	background-color: var(--neutral-color);
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1rem;
	height: 1rem;
	border: 0.15em solid;
	border-radius: 0.25em;
}

input[type='checkbox']::before {
	content: '';
	width: 0.65em;
	height: 0.65em;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
}

input[type='checkbox']:checked::before {
	transform: scale(1);
}

.gradient-underline {
	position: relative;
	text-decoration: none;
}

.gradient-underline:before {
	content: '';
	position: absolute;
	top: 100%;
	width: 100%;
	left: 0;
	height: 3px;
	background: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
}

.pretty-link {
	text-underline-offset: 0.2em;
	text-decoration: underline dotted var(--neutral-color) 0.1em;
	transition: text-underline-offset 600ms, text-decoration 600ms, color 600ms;
}

.pretty-link:hover {
	text-decoration: underline solid var(--accent-color) 0.1em;
	color: var(--accent-color);
	text-underline-offset: 0.3em;
}

footer {
	position: absolute;
	display: inline-flex;
	align-items: center;
	width: max-content;
	bottom: 1.1rem; /* 20px */
	right: 2.5rem; /* 40px */
	font-size: 0.875rem; /* 14px */
	line-height: 1.25rem; /* 20px */
	white-space: nowrap;
}

footer img {
	margin-left: 0.4rem;
	margin-right: 0.4rem;
	height: 18px;
	width: 18px;
}
