/* Style the overarching group of food header and food items */
.food-group {
    border: 2px solid var(--accent-color);
    border-radius: 0.5em;
    padding: 0.25em;
}

/* Styles the header above the food listing */
.food-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 1em;
}

/* Space the total items away from the cart price */
.cart-total-items {
    display: flex;
    align-items: center;
    /* Space total items from cart price */
    margin-right: 1em;
}

/* Space between the cart SVG and the total items count */
.cart-total-items svg {
    margin-right: 0.25em;
}

/* Makes the modal content use all the modal width */
.food-cart-content {
    max-width: 100%;
    padding: 0.7em;
    display: flex;
    flex-direction: column;
}

/* Increase font size for modal header */
.food-cart-content__header {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5em;
    text-align: center;
}

/* Space the total value from the other things */
.food-cart-content__total {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: end;
}

/* Row of buttons for the modal when there are items */
.food-cart-content__button-row {
    display: flex;
    align-self: end;
}

/* Style each individual food item */
.single-food {
    min-height: 8em;
    width: 100%;
    padding: 0;
    padding-bottom: 1em;
    margin: 0;
    background-color: var(--base-color);
    border-color: var(--neutral-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color ease-in-out 0.8s, background-color ease-in-out 0.8s;
}

/* Define food image dimensions */
.food-image {
    max-height: 20em;
    object-fit: cover;
    /* Stops the name and description from squishing image */
    flex-shrink: 0;
}

/* Organize food name and description in a column */
.food-name-and-description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    /* Center both on smaller resolutions.
    Aligns left on larger resolutions */
    text-align: center;
    margin: 0.5em;
}

/* Styles food name */
.food-name {
    display: flex;
    align-items: center;
    /* Centers food name on mobile.
    Will justify left on larger resolutions */
    justify-content: center;
    font-size: 1.7rem;
    font-family: 'Alfa Slab One', cursive;
}

/* Organize the people icon and the 
number of people for this meal in a line */
.food-for-how-many {
    display: flex;
    font-size: 1rem;
}

/* Defines size for the people icon near the food name */
.food-for-how-many svg {
    margin-left: 0.5em;
    margin-right: 0.25em;
    height: 1.5em;
    width: 1.5em;
}

/* Slightly reduces the size of food descriptions */
.food-description {
    font-size: 0.9rem;
}

/* Turns the food header into a row */
@media (min-width: 600px) {
    .food-header {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Adjust cards to become a row on larger resolutions */
@media (min-width: 900px) {
    .single-food {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 0.5em;
    }

    /* Limit food image size */
    .food-image {
        height: 8em;
        width: 10em;
    }

    /* Aligns left the food name and description */
    .food-name-and-description {
        text-align: left;
        margin: 0 0.5em;
    }

    /* Aligns left the food name */
    .food-name {
        justify-content: start;
    }
}