/* Tooltip container */
div.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
div.tooltip span.tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: var(--accent-color);
    color: var(--neutral-color);
    text-align: center;
    font-weight: 600;
    padding: 0.5em;
    border-radius: 0.3em;
    position: absolute;
    /* positions the tooltip at bottom left of icon */
    right: 0;
    top: 2em;
    z-index: 1;
    transition: opacity 0.4s ease-in-out, color 0.9s ease-in-out;
}

/* Show the tooltip text when you mouse over the tooltip container */
div.tooltip:hover span.tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Styles the radio to use customized balls for toggles */
input[type="radio"],
input[type="checkbox"] {
    /* Remove default selection circle */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: var(--base-color);
    margin: 0;
    font: inherit;
    color: var(--neutral-color);
    /* Sizing */
    width: 0.9em;
    height: 0.9em;
    /* Outline for checker */
    border: 0.15em solid var(--neutral-color);
    /* Border radius for checkbox, radio gets overriden below */
    border-radius: 0.2em;
    /* Push right the label text */
    margin-right: 0.5em;
    /* Push down the checker */
    transform: translateY(0.3em);
    /* Enable the radio check icon to be centered inside the checker */
    display: grid;
    place-content: center;
}

/* Create positioning for the checker, common to radio and checkbox */
input[type="radio"]::before,
input[type="checkbox"]::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    transform: scale(0);
    transition: 0.2s transform ease-in-out;
    /* Inner colored ball for whenever checked */
    box-shadow: inset 1em 1em var(--accent-color);
}

/* Turn the checker into a ball for radio inputs only */
input[type="radio"],
input[type="radio"]::before {
    border-radius: 50%;
}

/* Turns the checkbox checker into a confirmation */
input[type="checkbox"]::before {
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

/* Grow the inner ball/confirmation when checked */
input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

/* Puts an outline around the clicked radio/checkbox input */
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid var(--accent-color);
    outline-offset: max(2px, 0.15em);
}

/* Styles the date picker icon */
/* Couldn't figure out how to change the icon's color, without removing it */
input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: white;
    padding: 0.3em;
    cursor: pointer;
    border-radius: 0.25em;
}