/* Creates an initial dotted underline below the link to Trophy Place */
.pretty-link {
    text-underline-offset: 0.2em;
    text-decoration: underline dotted var(--neutral-color) 0.1em;
    transition: text-underline-offset 600ms, text-decoration 600ms, color 600ms;
}

/* Animates the link to Trophy Place on hover to change color,
    underline style and underline offset */
.pretty-link:hover {
    text-decoration: underline solid var(--accent-color) 0.1em;
    color: var(--accent-color);
    text-underline-offset: 0.3em;
}

/* Set transitions for Navigation Menu links, space them out */
.navigation-link {
    transition: color 0.5s ease-in-out;
    text-decoration-color: var(--neutral-color);
    margin-bottom: 0.2em;
    font-size: 3rem;
    /* 48px */
    line-height: 1;
}

/* Assign color change and underline decoration on hover */
.navigation-link:hover {
    color: var(--accent-color);
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: -0.2em;
    text-decoration-thickness: 0.3em;
}