/* Attach the animation to the proper container */
#spinner {
    transform-origin: center;
    animation: 2s infinite loading-spinner;
    animation-timing-function: cubic-bezier;
}

/* Defines the loading pacing */
@keyframes loading-spinner {
    0% {
        stroke-dasharray: 1 98;
        stroke-dashoffset: -105;
    }

    50% {
        stroke-dasharray: 80 10;
        stroke-dashoffset: -160;
    }

    100% {
        stroke-dasharray: 1 98;
        stroke-dashoffset: -300;
    }
}