/* Styling for navigation buttons above article */
.navigation-button {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    transition: color 0.4s ease-in-out;
}

/* Style navigation SVG transition animation */
.navigation-button svg {
    transition: fill 0.4s ease-in-out;
}

/* Change navigation color on hover */
.navigation-button:hover {
    color: var(--accent-color);
}

/* Change navigation SVG color on hover */
.navigation-button:hover svg {
    fill: var(--accent-color);
}