/* Define animations for bottom right spin */
#x-spin {
    animation: x-rotation 4s linear infinite;
}

#x-spin:hover {
    animation-play-state: paused;

}

@keyframes x-rotation {
    0% {
        transform: rotateX(0turn);
    }

    100% {
        transform: rotateX(1turn);
    }
}

/* Define animations for bottom left spin */
#y-spin {
    animation: y-rotation 5s linear infinite;
    right: 0em;
}

#y-spin:hover {
    animation-play-state: paused;

}

@keyframes y-rotation {
    0% {
        transform: rotateY(0turn);
    }

    100% {
        transform: rotateY(1turn);
    }
}

/* Define animations for top right spin */
#z-spin {
    animation: z-rotation 6s linear infinite;
    bottom: 0em;
}

#z-spin:hover {
    animation-play-state: paused;

}

@keyframes z-rotation {
    0% {
        transform: rotateZ(0turn);
    }

    100% {
        transform: rotateZ(1turn);
    }
}